accelerate
altair
altgraph
annotated-types
antlr4-python3-runtime
anyio
attrs
beautifulsoup4
blinker
bottle
cachetools
certifi
cffi
chardet
charset-normalizer
click
clr_loader
colorama
colorlog
cryptography
deep-translator
dill
distro
docling
docling-core
docling-ibm-models
docling-parse
easyocr
et_xmlfile
Faker
filelock
filetype
flake8
fpdf
fsspec
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-genai
google-generativeai
googleapis-common-protos
greenlet
grpcio
grpcio-status
h11
h2
hpack
hstspreload
httpcore
httplib2
httptools
httpx
huggingface-hub
hyperframe
idna
ImageIO
Jinja2
jsonlines
jsonref
jsonschema
jsonschema-specifications
latex2mathml
lazy_loader
lxml
markdown-it-py
marko
MarkupSafe
mccabe
mdurl
mpire
mpmath
multiprocess
narwhals
networkx
ninja
numpy
ollama
omegaconf
opencv-python
opencv-python-headless
openpyxl
packaging
pandas
pdf2image
pdfminer.six
pdfplumber
pefile
pillow
playwright
plotly
pluggy
polyfactory
proto-plus
protobuf
proxy_tools
psutil
psycopg2-binary
pyarrow
pyasn1
pyasn1_modules
pyclipper
pycodestyle
pycparser
pydantic
pydantic-settings
pydantic_core
pydeck
pyee
pyflakes
Pygments
pyinstaller
pyinstaller-hooks-contrib
pylatexenc
PyMuPDF
PyMySQL
pyparsing
pypdfium2
pytesseract
python-bidi
python-dateutil
python-docx
python-dotenv
python-pptx
pythonnet
pytz
pywebview
PyYAML
rapidocr
referencing
regex
requests
rfc3986
rich
rpds-py
rsa
rtree
safetensors
scikit-image
scipy
semchunk
setuptools
shapely
shellingham
six
smmap
sniffio
soupsieve
SQLAlchemy
streamlit
streamlit-lottie
streamlit-pdf-viewer
streamlit-quill
sympy
tabulate
tenacity
tifffile
tokenizers
toml
tornado
tqdm
transformers
tree-sitter
tree-sitter-c
tree-sitter-java
tree-sitter-javascript
tree-sitter-python
tree-sitter-typescript
typer
typing-inspection
typing_extensions
tzdata
uritemplate
urllib3
uvicorn
watchdog
watchfiles
websockets
xlsxwriter
a2wsgi

fastapi
python-multipart
passlib[bcrypt]
python-jose[cryptography]
stripe
